@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  html,
  body {
    background: #fff !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  #pdf-area {
    break-inside: avoid;
  }
}

.print-avoid-break {
  break-inside: avoid;
  page-break-inside: avoid;
}

/* .print-page-break {
  break-before: page;
  page-break-before: always;
} */